* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: rgb(28, 29, 31);
  background-color: rgb(252, 252, 252);
}

header {
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f05c22;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

header a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

main {
  max-width: 990px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 100px;
}

footer {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 11px;
  color: #f8f2eb;
}
