<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KLEIN GEVAARLIJK AFVAL</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <div class="header-left"><a href="/">KLEIN GEVAARLIJK AFVAL</a></div>
      <div class="header-right"><a href="/students">ABOUT</a></div>
    </header>
    <main>
      {{ content }}
    </main>
      <footer>
    Copyright 2021 Sint Lucas Antwerpen
    </footer>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
